<div class="centered-content">
    <div class="white-box">
        <h1 class="title">Create new List</h1>

        <input #listTitle class="input has-background-light is-medium" type="text" placeholder="Enter list name...">
            <br><br>
        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/">Cancel</button>
            <button class="button is-primary has-text-white is-medium" (click)="createNewList(listTitle.value)">Create</button>
        </div>
    </div>
</div>